.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  user-select: none;
  margin: 0 auto;
  max-width: 1500px;
}

.logo_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.logo{
  width: 80px;
  height: 100%;
}

.name_container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  line-height: 1;
  gap: 0.15rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.icons_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.icon{
  width: 40px;
  transition: fill 0.3s ease;
  &:hover{
    cursor: pointer;
    fill: #ff5722;
  }
}

.right_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 1400px) {
  .header{
    padding: 2rem 3rem;
  }
}

@media (max-width: 1200px) {
  .header{
    padding: 1.5rem 2rem;
  }
  .right_container{
    gap: 0.5rem;
  }
  .icons_container{
    gap: 0.3rem;
  }
}

@media (max-width: 800px) {
  .logo{
    width: 60px;
  }
  .name_container{
    font-size: 1rem;
  }
  .icon{
    width: 35px;
  }
}

@media (max-width: 600px) {
  .header{
    padding: 0.7rem 1rem;
  }
}
@media (max-width: 450px) {
  .header{
    padding: 0.4rem 0.7rem;
  }
}

