.app{

}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 4rem;
}

@media (max-width: 1300px) {
  .container{
    padding: 0 2.5rem;
  }
}

@media (max-width: 1150px) {
  .container{
    padding: 0 2rem;
  }
}

@media (max-width: 1000px) {
  .container{
    padding: 0 1.5rem;
  }
}

@media (max-width: 700px) {
  .container{
    padding: 0 1rem;
  }
}
@media (max-width: 460px) {
  .container{
    padding: 0 0.5rem;
  }
}